@*@model IEnumerable<HouseDesign>*@

@model HouseDesignViewModel
@{
    ViewBag.Title = "EachProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<script src = "~/Scripts/jquery-1.10.2.min.js" > </script>   
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" > 
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" > </script>   
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" > </script>

<h5>Specyfikacja produktu</h5>   
<div asp-controller = "Home" > 
   @* @foreach (var x in Model)
    {*@
        <div class="panel panel-default"> 
            <div class = "panel-heading" > @Model.ProjectName </div>   
            <div class = "panel-body" >
                <div class = "col-sm-3 col-md-6" style = "color:blue" >
                    <img src = "~/Images/@(Model.ImagePath).jpg"  class="img-fluid"/>
                </div>   
                <div class="col-sm-9 col-md-6">
                    <h5> <span id="projectinfo" style="color:black"> Nazwa projektu: </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@(Model.ProjectName) </b> </span> </h4>
                    <h5> <span id="projectinfo" style="color:black"> Powierzchnia uzytkowa: </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@Model.UseableArea m2 </b> </span></h4>
                    <h5> <span id="projectinfo" style="color:black"> Minimalne wymiary dzialki: </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@(Model.MinPlotDimensionLength)m x @(Model.MinPlotDimensionWidth)m </b></span></h4>
                    <h5> <span id="projectinfo" style="color:black"> Kat dachu: </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@Model.RoofAngle </b></span></h4>
                    <h5> <span id="projectinfo" style="color:black"> Ilosc pokoi: </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@Model.NumberOfRooms </b></span></h4>
                    <h5> <span id="projectinfo" style="color:black"> Ilosc lazienek: </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@Model.NumberOfBathrooms </b></span></h4>
                    <h5> <span id="projectinfo" style="color:black"> Ilosc stanowisk garazowych: </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@Model.NumberOfGaragePositions </b></span></h4>
                    <h5> <span id="projectinfo" style="color:black"> Cena </span> </h5>
                    <h4> <span id="projectinfo" style="color:black"> <b>@Model.Price zł </b></span></h4>
                </div>   
            </div>
            <div> 
                <a id = "btn_add" @*href = "@Url.Action("Add ", "AddToCart ",x)"*@ class = "btn btn-info btn-lg" style = "margin-left:60px" > 
                    <span class = "glyphicon glyphicon-shopping-cart" > </span> Dodaj do koszyka </a>   
                <a id = "btn_add" href = "@Url.Action("Shop", "Home")" class = "btn btn-info btn-lg" style = "margin-left:60px" > 
                    <span class = "glyphicon glyphicon-eye-open" > </span> Kontynuj zakupy   
                </a>
                <br/> 
            </div>
        </div>
     @*} *@
</div>
